// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

$myGreen: #63b063;
$myRed: #b06363;
$v-red-glow: 0 0 3px $myRed, 0 0 6px $myRed, 0 0 9px $myRed, 0 0 15px $myRed;
$v-green-glow: 0 0 3px $myGreen, 0 0 6px $myGreen, 0 0 9px $myGreen, 0 0 15px $myGreen;


$v-app-loading-text: "Loading, Please Wait...";
$v-background-color: #444d50;
$v-focus-color: $myGreen;
$v-focus-style: 0 0 3px 2px $v-focus-color;
$v-bevel-depth: 40%;
$v-gradient: v-linear 12%;
$v-border-radius: 10px;
$v-font-family: Roboto, sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-bevel: inset 0 1px 2px v-tint, inset 0 0 1px (v-tint 0.1);
$v-shadow: 0 0 0 3px rgba(0,0,0,0.32), 0 1px 0 3px rgba(255,255,255,0.14);
$v-textfield-bevel: inset 0 2px 2px v-shade;
$v-textfield-shadow: $v-shadow;
$v-notification-shadow: $v-shadow;
$v-unit-size: 40px;
$v-overlay-shadow: 0 0 0 3px (v-shade 8), 0 5px 10px (v-shade 4);
$v-component-group-spacing: 6px;
$v-messagesTable-captionGlow: 0 0 3px $v-focus-color,
                              0 0 7px $v-focus-color,
                              0 0 11px $v-focus-color,
                              0 0 17px $v-focus-color,
                              0 0 27px $v-focus-color,
                              0 0 37px $v-focus-color,
                              0 0 47px $v-focus-color;

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;
  // Insert your own theme rules here

  .v-table-noScrollBars .v-scrollable {
    overflow: hidden;
  }

  .v-table-resizer {
    display: none;
  }

  .v-caption-tableCaption .v-captiontext {
    font-size: 24px;
    margin-bottom: 15px;
    text-shadow: $v-messagesTable-captionGlow;
  }

  .v-table-caption-container {
    text-align: center;
  }

  .v-table-row:hover, .v-table-row-odd:hover {
    background-color: $myGreen;
  }

  .v-Notification.green {
    background: #636363;
    border: 0.5px solid $myGreen;
    color: ghostwhite;
    box-shadow: $v-green-glow;
  }

  .v-Notification.red {
    background: #636363;
    border: 0.5px solid $myRed;
    color: ghostwhite;
    box-shadow: $v-red-glow;
  }

  .v-checkbox.editWindowCheckBox {
    margin-top: 15px;
  }

}